#footer > div.container > div > div > div > div.layout__region.layout__region--third.layout__region--thirds.layout__region--narrow.layout-is-sm > div > div.clearfix.text-formatted.field.field--name-field-ps-body.field--type-text-long.field--label-hidden.field__item {
  font-size: 0.85em;
  text-align: justify;
  font-style: italic;
}